PORT=4000
ENVIRONMENT=development
JWT_SECRATE_KEY=
MONGOURI=mongodb://localhost:27017
MONGO_DB_NAME=push_notification_socket
SOCKET_TOKEN=
CRYPTO_SECRET_KEY=
IOSPUSHKEYID=
IOSPUSHTEAMID=
IOSPUSHTOPIC=com.example.app.voip
FIREBASE_PROJECT_ID=
FIREBASE_PRIVATE_KEY_ID=
FIREBASE_PRIVATE_KEY=
FIREBASE_CLIENT_EMAIL=
FIREBASE_CLIENT_ID=
FIREBASE_CLIENT_CERT_URL=
APN_AUTH_KEY=
